# Drawing Conclusions Using Query

In [1]:
# Load 'winequality_edited.csv,' a file you created in a previous section 
import pandas as pd

df =pd.read_csv("winequality_edited.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,Moderately High
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,Medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,Moderately High
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low

### Do wines with higher alcoholic content receive better ratings?

In [2]:
# get the median amount of alcohol content
alcohol_median = df['alcohol'].median()

In [3]:
alcohol_median

10.3

In [6]:
# select samples with alcohol content less than the median
low_alcohol = df.query('alcohol < @alcohol_median')

# select samples with alcohol content greater than or equal to the median
high_alcohol = df.query('alcohol >= @alcohol_median')

# ensure these queries included each sample exactly once
num_samples = df.shape[0]
num_samples == low_alcohol['quality'].count() + high_alcohol['quality'].count() # should be True

True

In [7]:
# get mean quality rating for the low alcohol and high alcohol groups
low_alcohol['quality'].mean()

5.475920679886686

In [8]:
high_alcohol['quality'].mean()

6.146084337349397

### Do sweeter wines receive better ratings?

In [15]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color', 'acidity_levels'],
      dtype='object')

In [16]:
new_cols = [i.replace(" ","_") for i in df.columns]

In [17]:
new_cols

['fixed_acidity',
 'volatile_acidity',
 'citric_acid',
 'residual_sugar',
 'chlorides',
 'free_sulfur_dioxide',
 'total_sulfur_dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality',
 'color',
 'acidity_levels']

In [18]:
df.columns = new_cols

In [19]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,Moderately High
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,Medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,Moderately High
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low

In [20]:
# get the median amount of residual sugar
res_sugar_median = df['residual_sugar'].median()

In [21]:
res_sugar_median

3.0

In [24]:
# select samples with residual sugar less than the median
low_sugar = df.query('residual_sugar < @res_sugar_median')

# select samples with residual sugar greater than or equal to the median
high_sugar = df.query('residual_sugar >= @res_sugar_median')

# ensure these queries included each sample exactly once
num_samples == low_sugar['quality'].count() + high_sugar['quality'].count() # should be True

True

In [25]:
# get mean quality rating for the low sugar and high sugar groups
low_sugar['quality'].mean()

5.808800743724822

In [26]:
high_sugar['quality'].mean()

5.82782874617737